
.icon-list-add:before { content: '\e800'; }
.icon-minus:before { content: '\e801'; }
.icon-minus-circled:before { content: '\e802'; }
.icon-search:before { content: '\e803'; }
.icon-shuffle:before { content: '\e804'; }
.icon-gplus:before { content: '\e805'; }
.icon-download:before { content: '\e806'; }
.icon-bookmark:before { content: '\e807'; }
.icon-basket:before { content: '\e808'; }
.icon-export:before { content: '\e809'; }
.icon-reply:before { content: '\e80a'; }
.icon-forward:before { content: '\e80b'; }
.icon-block:before { content: '\e80c'; }
.icon-vcard:before { content: '\e80d'; }
.icon-location:before { content: '\e80e'; }
.icon-bell:before { content: '\e80f'; }
.icon-mail:before { content: '\e810'; }
.icon-home:before { content: '\e811'; }
.icon-dot:before { content: '\e812'; }
.icon-dot-2:before { content: '\e813'; }
.icon-dot-3:before { content: '\e814'; }
.icon-dropbox:before { content: '\e815'; }
.icon-instagram:before { content: '\e816'; }
.icon-facebook:before { content: '\e817'; }
.icon-twitter:before { content: '\e818'; }
.icon-pinterest:before { content: '\e819'; }
.icon-tumblr:before { content: '\e81a'; }
.icon-docs:before { content: '\e81b'; }
.icon-doc:before { content: '\e81c'; }
.icon-back:before { content: '\e81d'; }
.icon-picture:before { content: '\e81e'; }
.icon-camera-1:before { content: '\e81f'; }
.icon-check:before { content: '\e820'; }
.icon-cancel-1:before { content: '\e821'; }
.icon-cancel-circled:before { content: '\e822'; }
.icon-plus-1:before { content: '\e823'; }
.icon-plus-circled:before { content: '\e824'; }
.icon-plus-squared:before { content: '\e825'; }
.icon-cancel-squared:before { content: '\e826'; }
.icon-menu:before { content: '\e827'; }
.icon-layout:before { content: '\e828'; }
.icon-pencil:before { content: '\e829'; }
.icon-retweet:before { content: '\e82a'; }
.icon-share-1:before { content: '\e82b'; }
.icon-resize-full-1:before { content: '\e82c'; }
.icon-resize-small-1:before { content: '\e82d'; }
.icon-left-open-mini:before { content: '\e82e'; }
.icon-left-open-big:before { content: '\e82f'; }
.icon-left-1:before { content: '\e830'; }
.icon-brush-1:before { content: '\e831'; }
.icon-popup:before { content: '\e832'; }
.icon-left-open:before { content: '\e833'; }
.icon-right-open:before { content: '\e834'; }
.icon-right-open-mini:before { content: '\e835'; }
.icon-right-open-big:before { content: '\e836'; }
.icon-right:before { content: '\e837'; }
.icon-left-dir:before { content: '\e838'; }
.icon-right-dir:before { content: '\e839'; }
.icon-left-bold:before { content: '\e83a'; }
.icon-right-bold:before { content: '\e83b'; }
.icon-left-thin:before { content: '\e83c'; }
.icon-right-thin:before { content: '\e83d'; }
.icon-ccw:before { content: '\e83e'; }
.icon-cw:before { content: '\e83f'; }
.icon-arrows-ccw:before { content: '\e840'; }
.icon-heart:before { content: '\e841'; }
.icon-star:before { content: '\e842'; }
.icon-star-empty:before { content: '\e843'; }
.icon-heart-empty:before { content: '\e844'; }
.icon-magic:before { content: '\e845'; }
.icon-beaker:before { content: '\e846'; }
.icon-flash:before { content: '\e847'; }
.icon-credit-card:before { content: '\e848'; }
.icon-dollar:before { content: '\e849'; }
.icon-money:before { content: '\e84a'; }
.icon-barcode:before { content: '\e84b'; }
.icon-angle-double-left:before { content: '\e84c'; }
.icon-angle-double-right:before { content: '\e84d'; }
.icon-edit:before { content: '\e84e'; }