// ---- ---- ---- ---- MIXINS ---- ---- ---- ----

// Thank you to Andy Clarke for some of these (320 and Up)

// Ellipsis at end of line, no wrap.
// @include text-overflow()
@mixin text-overflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// Gradient Backgrounds
// @include horizontal(COLOR, COLOR)
@mixin horizontal($startColor: $white, $endColor: $lightergrey) {
    background-color: $endColor;
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from($startColor), to($endColor));
    background-image: -webkit-linear-gradient(left, $startColor, $endColor);
    background-image: -moz-linear-gradient(left, $startColor, $endColor);
    background-image: -ms-linear-gradient(left, $startColor, $endColor);
    background-image: -o-linear-gradient(left, $startColor, $endColor);
    background-image: linear-gradient(left, $startColor, $endColor);
    background-repeat: repeat-x;
}

// @include vertical(COLOR, COLOR)
@mixin vertical($startColor: $white, $endColor:  $lightergrey) {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($startColor), to($endColor));
    background-image: -webkit-linear-gradient(top, $startColor, $endColor);
    background-color: $endColor;
    background-image: -moz-linear-gradient(top, $startColor, $endColor);
    background-image: -ms-linear-gradient(top, $startColor, $endColor);
    background-image: -o-linear-gradient(top, $startColor, $endColor);
    background-image: linear-gradient(top, $startColor, $endColor);
    background-repeat: repeat-x;
}

// @include directional(COLOR, COLOR, DEG)
@mixin directional($startColor: $white, $endColor: $lightergrey, $deg: 45deg) {
    background-color: $endColor;
    background-image: -moz-linear-gradient($deg, $startColor, $endColor);
    background-image: -ms-linear-gradient($deg, $startColor, $endColor);
    background-image: -webkit-linear-gradient($deg, $startColor, $endColor);
    background-image: -o-linear-gradient($deg, $startColor, $endColor);
    background-image: linear-gradient($deg, $startColor, $endColor);
    background-repeat: repeat-x;
}

// Box Styles
// @include rounded(INT)
@mixin rounded($radius: 4px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

// @include border-radius(INT, INT, INT, INT)
@mixin border-radius($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0) {
    -webkit-border-top-right-radius: $topright;
    -webkit-border-bottom-right-radius: $bottomright;
    -webkit-border-bottom-left-radius: $bottomleft;
    -webkit-border-top-left-radius: $topleft;
    -moz-border-radius-topright: $topright;
    -moz-border-radius-bottomright: $bottomright;
    -moz-border-radius-bottomleft: $bottomleft;
    -moz-border-radius-topleft: $topleft;
    border-top-right-radius: $topright;
    border-bottom-right-radius: $bottomright;
    border-bottom-left-radius: $bottomleft;
    border-top-left-radius: $topleft;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

// @include box-shadow(SHADOW DELCARATION)
@mixin box-shadow($shadow: 0 1px 3px rgba(0,0,0,.25)) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

// @include drop-shadow(X-OFFSET, Y-OFFSET, BLUR, ALPHA)
@mixin drop-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $alpha: 0.1) {
    -webkit-box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
    -moz-box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
    box-shadow: $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
}

// @include opacity(DECIMAL 0-1)
@mixin opacity($opacity: .5) {
    filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=#{round($opacity * 100)})");
    opacity: $opacity;
}

// Mixin for creating animations using single or "all" property transitions
// @include transition(PROPERTY DURATION DELAY(OPT) TIMING-FUNCTION)
@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

// Mixin for creating animations using multiple property transitions
// @include multi-transition("PROPERTY DURATION DELAY(OPT) TIMING-FUNCTION, PROPERTY DURATION DELAY(OPT) TIMING-FUNCTION")
@mixin multi-transition($transition) {
    -webkit-transition: #{$transition};
    -moz-transition: #{$transition};
    -ms-transition: #{$transition};
    -o-transition: #{$transition};
    transition: #{$transition};
}

// Object contains floated children
// @include clearfix()
@mixin clearfix() {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
    }
    &:after {
        clear: both;
    }
}

// Image Replacement
// @include hide-text()
@mixin hide-text() {
    font: 0/0 a;
    text-shadow: none;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

// Value using calc
// @include width-calc(STRING PROPERTY, STRING OPERATION)
@mixin css3-calc($property, $operation) {
    #{$property}: -moz-calc(#{$operation});
    #{$property}: -webkit-calc(#{$operation});
    #{$property}: calc(#{$operation});
}

// Horizontally center a block-level element
// @include center-block()
@mixin center-block() {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Values for property in REM and PX with 1rem = 16px by Karl Merkli
// @inlcude rem-fallback(STRING PROPERTY, REMVAL1, REMVAL2, REMVAL3, REMVAL4)
// @inlcude rem-px(margin, 1, 1, 2, 1.5) outputs or
// @include rem-px(margin, 1rem, 1rem, 2rem, 1.5rem) outputs:
// margin: 160px 320px 480px 640px;
// margin: 10rem 20rem 30rem 40rem;
@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

@mixin rem-px($property, $values...) {
    $max: length($values);
    $pxValues: '';
    $remValues: '';

    @for $i from 1 through $max {
        $value: strip-unit(nth($values, $i));

        @if $value != 0 {
            $pxValues: #{$pxValues + $value*16}px;
        } @else {
            $pxValues: #{$pxValues + $value*16};
        }

        @if $i < $max {
            $pxValues: #{$pxValues + " "};
        }
    }

    @for $i from 1 through $max {
        $value: strip-unit(nth($values, $i));

        @if $value != 0 {
            $remValues: #{$remValues + $value}rem;
        } @else {
            $remValues: #{$remValues + $value};
        }

        @if $i < $max {
            $remValues: #{$remValues + " "};
        }
    }

    #{$property}: $pxValues;
    #{$property}: $remValues;
}

// Values for property in REM and PX with 16px = 1rem adapted from mixin by Karl Merkli
// @inlcude px-rem(STRING PROPERTY, PXVAL1, PXVAL2, PXVAL3, PXVAL4)
// @inlcude px-rem(margin, 16, 16, 32, 24) or
// @include px-rem(margin, 16px, 16px, 32px, 24px) outputs:
// margin: 16px 16px 32px 24px;
// margin: 1rem 1rem 2rem 1.5rem;
@mixin px-rem($property, $values...) {
    $max: length($values);
    $pxValues: '';
    $remValues: '';

    @for $i from 1 through $max {
        $value: strip-unit(nth($values, $i));

        @if $value != 0 {
            $pxValues: #{$pxValues + $value}px;
        } @else {
            $pxValues: #{$pxValues + $value};
        }

        @if $i < $max {
            $pxValues: #{$pxValues + " "};
        }
    }

    @for $i from 1 through $max {
        $value: strip-unit(nth($values, $i));

        @if $value != 0 {
            $remValues: #{$remValues + $value/16}rem;
        } @else {
            $remValues: #{$remValues + $value};
        }

        @if $i < $max {
            $pxValues: #{$pxValues + " "};
        }
    }

    #{$property}: $pxValues;
    #{$property}: $remValues;
}

//CSS TRANSFORM MIXINS
@mixin rotate($deg) {
    -webkit-transform: rotate(#{$deg}deg);
    -moz-transform: rotate(#{$deg}deg);
    -ms-transform: rotate(#{$deg}deg);
    -o-transform: rotate(#{$deg}deg);
}

// My Mixins
// Developed by Dominick Washburn between Spring 2012 to presentim

// CHARACTER STYLES
@mixin typekit-sans($family, $weight: normal, $style: none){
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
}

// Special ratio for headings
@mixin margin-heading( $px: $rem-base ) {
    margin: #{ (($px / $rem-base) * .67) + "rem" } 0 #{ (($px / $rem-base) * .33) + "rem" } 0 ;
}

@mixin margin-paragraph( $px: $rem-base ) {
    margin: #{ (($px / $rem-base) * .5) + "rem" } 0 #{ (($px / $rem-base) * .5) + "rem" } 0 ;
}

@mixin keyframes( $animationName )
{
    @-webkit-keyframes $animationName {
        @content;
    }
    @-moz-keyframes $animationName {
        @content;
    }
    @-o-keyframes $animationName {
        @content;
    }
    @keyframes $animationName {
        @content;
    }
}

// =====================
// ==== TYPE MIXINS ====
// =====================

// REM font size mixin from ThreeSpot
@mixin font-size ( $size: 20, $line-height: 32 ) {
  font-size: $size + px;
  font-size: $size/10 + rem;
  line-height: (($line-height/$size)/10) + rem;
}

//TypeKit Mixin
@mixin typekit-sans ($family){
    font-family: $family, sans-serif;
}

// My Buttons
@mixin btn-sizing($class, $font-size) {
    .#{$class} {
    @extend .btn;
    font-size: rem($font-size);
    padding: rem(($font-size*.5)) rem(($font-size*.75));
}
}

 @mixin btn--old ($class, $color, $hover-text: $light-text-color) {
    .#{"btn--" + $class } {
        border-color: $color;
        color: $color;
        &:hover {
            border-color: darken( $color , 10% );
            background-color: $color;
            color: $hover-text;
        }
        &:active {
            border-color: darken( $color , 15% );
        }
    }
    $btn-sizes: sm, med, lrg;
    @for $i from 1 through length($btn-sizes) {
        $this-size: nth($btn-sizes, $i); 
            .#{"btn--" + $this-size + "--" + $class } {
                @extend #{".btn--" + $this-size}, #{".btn--" + $class};
            }
        }
    }

@mixin btn ($class, $color, $text-color: $color, $border-color: $color, $border-size: 1px, $display: inline-block, $hover-text: null, $text-decoration: none, $text-transform: null, $radius: null) {
  .btn {
    border: $border-size solid;
    border-radius: $radius + px;
    border-radius: rem($radius);
    box-sizing: border-box;
    display: $display;
      text-decoration: $text-decoration;
      text-transform: $text-transform;
      &:hover, &:active {
        text-decoration: $text-decoration;
    }
  }
  
  .btn--#{$class} {
      border-color: $border-color;
      color: $text-color;
      &:hover {
          border-color: darken($border-color , 10%);
          background-color: lighten($border-color, 25%);
          color: darken($text-color , 10%);
      }
      &:active {
          border-color: darken( $text-color , 15% );
      }
  }
  
  @each $btn-size, $btn-font-size in $btn-size-map {
    .btn--#{$btn-size}, {
        @extend .btn;
        font-size: $btn-font-size + px;
        font-size: rem($btn-font-size);
        padding: ($btn-font-size*.5) + px ($btn-font-size*.75) + px;
        padding: rem(($btn-font-size*.5)) rem(($btn-font-size*.75));
    }
    .btn--#{$class}--#{$btn-size} {
        @extend .btn--#{$btn-size}, .btn--#{$class};
    }
  }
}


// mobile tap highlight
@mixin tap-highlight ($color: rgba(0,0,0,0)) {
    -webkit-tap-highlight-color: $color;
    -moz-tap-highlight-color: $color; 
    -ms-tap-highlight-color: $color; 
}