/* Breakpoint Variables */


/* Masonry Dimension Variables */
$masonry-width: rem(960);
$col-width: $masonry-width/4;
$col-margin: 0;

/* Site Colors */
$primary-color: #f6871f;
	$primary-color--dark: #532a05;
$secondary-color: #34d9e8;
//$accent-color-1: ;
//$accent-color-2: ;
$background-color: #fcfcfc;
$light-text-color: #fcfcfc;
$primary-text-color: #3d3d3d;
