@import "compass/css3";
@import "compass/utilities";
@import "helpers/functions";
@import "helpers/mixins";
@import "susy";
@import "mobile-configurator-01-embedded";

$susy: (
	columns: 12,
	column-width: 60px,
	gutters: 1/3,
	math: static,
	global-box-sizing: border-box,
);



//clever centering trick from https://css-tricks.com/centering-css-complete-guide/
%dead-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
%vertical-center {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}
%horizontal-center {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}
body {
	background-color: #C2C2C2;
}
*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix {
	@include clearfix;
}

.wrapper {
  postion: relative;
  background-color: #333;
}


.fit-frame {
	width: 100%;
	float: left;
}

.app__frame {
	@extend %dead-center;
  width: 375px;
  height: 667px;
  //border: 1px solid #CDCDCD;
  &-inner{ 
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
  }
}

.app__top-bar {
	position: absolute;
	top: 0;
	left: 0;
}

.app__contents {
	//@extend .fit-frame;
	background-color: #FAFAFA;
	padding-top: 23px;
	height: 100%;
	width: 100%;
}

.app__keyboard {
	position: absolute;
	bottom: 0;
	left: 0;
}

.editor {
	width: auto;
	//background-color: #333;
	position: relative;
	min-height: 430px;
	.keyboard-up & {
		height: 373px;
	}
}

.card__holder {
	@extend %vertical-center;
	@extend .fit-frame;
	min-height: 320px;
	//background-color: #e54fc2;
}
.card {
	height: 100%;
	
}
.card__face {
	@include backface-visibility(hidden);
}
.card__image {
	@extend %horizontal-center;
	height: 100%;
	@include backface-visibility(hidden);
}
.card__image {
	height: 100%;
	min-height: 320px;
	min-width: 230px;
}
.app__controls-holder {
	height: 272px;
	padding-top: 2rem;
	.keyboard-up & {
		display: none;
	}
}
.app__controls {
	//@extend %dead-center;
}
.app__controls--primary, .app__controls--secondary {
	display: table;
	margin: 0 auto;
	overflow: visible;
}
.app__button {
	border-radius: 50%;
	background-color: #959595;
	float: left;
	position: relative;
}
.button__icon {
	@extend %dead-center;
	color: #767676;
}
.button--small {
	width: 4rem;
	height: 4rem;
	margin: 0 1rem 0 0;
	&:last-child {
		margin-right: 0;
	}
	.button__icon {
		font-size: 2rem;
	}
}
.button--large {
	width: 5rem;
	height: 5rem;
	margin: 0 1rem 0 0;
	&:last-child {
		margin-right: 0;
	}
	.button__icon {
		font-size: 3rem;
	}
}

.test {
	background-color: #333;
	width: 100px;
	height: 100px;
}
